h1 {
    color: green;
    text-align: center;
}

p {
    color: blue;
    text-align: left;
}

div {
    background-color: teal;
    width: 500px;
    height: 400px;
    margin: 30px;
    padding: 50px;
    border: 3px solid;
            }
            #Oleh {
                font-size: 36px;
            }

            #Dima {
                font-size: 24px;
            }

            #bottom {
                font-size: 12px;
            }

            .name {
                font-weight: bold;
                color: blue;
            }

            .test {
                color: grey;
            }
